<?xml version="1.0" encoding="utf-8" ?>

<!-- This config file tells Nlog to 
        1. reload the configuration settings if the config file changes (autoReload="true")
        2. log internal exceptions (throwExceptions="true") to a seperate file (internalLogFile="C:Temp\logs\Nlog\intern_log.log" 
        3. set the internal exception level to show the most detail about the error as posible (internalLogLevel="Trace") 
-->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="true"
      internalLogLevel="Trace" internalLogFile="C:Temp\logs\Nlog\intern_log.log"  >

  <!-- 
  See https://github.com/nlog/nlog/wiki/Configuration-file 
  for information on customizing logging rules and outputs.
   -->

  <!-- optional, add some variabeles  -->
  <variable name="logDirectory" value="${basedir}/logs/" />


  <!-- 
    add your targets here 
    See https://github.com/nlog/NLog/wiki/Targets for possible targets.
    See https://github.com/nlog/NLog/wiki/Layout-Renderers for the possible layout renderers.
    -->
  <targets async="true">
    <!-- Writing events to the console-->
    <target  xsi:type="Console"
               name="console"
               layout="${longdate} ${level} ${message}" />
    
    <!--Writing events to the a file with the date in the filename.--> 
    <target xsi:type="File" name="file" fileName="${logDirectory}/${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${logger} ${message}" />

    <!-- Writing events to an event log...NOTE : you must run the application as administratoir one time in order to create the event log-->
    <target xsi:type="EventLog"
                name="eventLog"
                source="ConsoleApp-Nlog"
                log="Application"
                layout="${longdate} ${level:uppercase=true} ${logger} ${message}" />
  </targets>

  <rules>
    <!-- add your logging rules here -->
    <!-- Write all events with minimal level of Debug (So Debug, Info, Warn, Error and Fatal, but not Trace)  
         to coma seperated list of target names -->
    <logger name="*" minlevel="Debug" writeTo="console,file,eventLog"/>
  </rules>
</nlog>